<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr.COM•川外专版路由器  购买页面</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" />
</head>

<body>

    <div class="header">
        <div class="header-cloer">
        </div>
        <div class="header-h1">
            <h1>网页练习</h1>
        </div >
        <div class="header-h3">
            <li><a href="index" >首页</a></li>
            <li><a href="pay" id="pay">购买产品</a></li>
            <li><a href="understand" >了解产品</a></li>
            <li><a href="about" >关于我们</a></li>
            <li><a href="message" >留言板</a></li>
        </div>
    </div>

    <div class="banner">
        <img src="../static/css/image/banner.jpg" alt="banner图">
    </div>

    <div class="main">
        <div class="all-time">
            <div class="kf">
                在线客服
            </div>
            <div class="qq">
               <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=210770944&site=qq&menu=yes">点击联系客服</a>
               <!--<img border="0" src="http://wpa.qq.com/pa?p=2:210770944:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>-->
            </div>
            <div class="img">工作时间</div>
            <div class="m-time">周一至周五 ：8:30-17:30</div>
            <div class="m-time">周六至周日 ：9:00-17:00</div>
        </div>
        </div>

    <div class="footer">
        &#169; 2016 Testboy 版权所有
    </div>


</body>
</html>